
@main("+ info de the APP team") {

<div id="content">
    <h1>PREGUNTAS MÁS FRECUENTES</h1>

    <p class="question">Cómo se eligen los participantes de entre todas las solicitudes?</p>
    <p class="answer">Pues los organizadores somos, a su vez, posibles participantes y tenemos experiencia en backend y frontend. También contaremos con gente con experiencia en diseño web. Básicamente nuestra intuición sobre la información que nos proporcionéis y lo que hablemos con vosotros guiará nuestras decisiones. Lo que se decida será ley :P, y a los que consideremos que se ajustan como los mejores integrantes para los equipos dependiendo de criterios como compatibilidad, experiencia o tecnologías, serán los que participen.</p>

    <p class="question">Qué es eso de que se desarrollará una de nuestras ideas?</p>
    <p class="answer">Pues sí. Si tienes una idea en mente y crees que se puede llegar al nivel de prototipo en tres días de trabajor con el mejor de los equipos, vete preparando para hacerla realidad. El Product Owner, vas a ser tú. Si hay más ideas que equipos, abriremos una votación previa para decidir que ideas se realizarán. Si no quieres contar tu idea o necesitas un NDA para hacerlo, mejor vete a otro evento.</p>

    <p class="question">Qué horario tendremos durante esos tres días?</p>
    <p class="answer">Pues hay que seguir, cumpliendo con los principios de Agile, un ritmo sostenible. Con lo cual curraremos entre 7 y 9 horas al día, parando para comer, tomar unas cervezas, estar con la familia y dormir!.</p>

    <p class="question">Y si no soy ni diseñador, ni de frontend o backend, pero pienso que puedo aportar mucho porque soy el mejor en mi tema?</p>
    <p class="answer">Pues bienvenido/a, especifica en el formulario para apuntarse, de qué "tema" se trata y si vienes con alguna idea en mente. Valoraremos que puedas estar en algún equipo o que puedas ser un comodín y estar colaborando con los dos equipos a la vez.</p>

    <p class="question">Y una vez que pasen los tres días, qué?</p>
    <p class="answer">Pues básicamente, el equipo que desarrolló la idea pasa a ser el propietario (sus miembros y a partes iguales) del proyecto y ellos decidirán lo que hacer con el mismo. Desde la organización lo pondremos en contacto con una aceleradora de empresas, si el equipo quiere, para que valore el proyecto y optar por conseguir apoyo/inversión/...</p>

</div>

}