@()(implicit request: RequestHeader)

@main("the APP team") {

<div id="destacado">
    <div class="columna doble">
        <p class="titulo">De qué va?</p>
        <p class="desarrollo grande">The APP team es una mezcla entre un <span class="destaque">Hackathon</span> y un <span class="destaque">Startup Weekend</span> reservado para gente realmente buena.
        </p>
        <p class="desarrollo apoyo">
            2 equipos, 4 integrantes y perfiles complementarios para desarrollar una de sus ideas en 3 días.
        </p>
    </div>

    <div class="columna auxiliar">
        <ul>
            <li id="donde"><img src="@routes.Assets.at("images/donde.png")" /> Dónde</li>
            <li class="complementaria">
                Avda Novo Mesoiro, 2, bajo<br />
                15009 A Coruña (España)<br />
                en Wekco
            </li>
            <li id="cuando"><img src="@routes.Assets.at("images/cuando.png")" /> Cuándo</li>
            <li class="complementaria">de 11 a 13 de Enero 2013</li>
            <li><a href="@routes.Application.faq"><img src="@routes.Assets.at("images/masinfo.png")" /> Info</a></li>
        </ul>
    </div>

    <div class="clear"></div>
</div>
<div id="content">

    <div class="completo">
        <div class="comun">"Sobre todo tienes que saber que eres muy bueno en lo que haces, y además estar familiarizado con Lean startups y Agile."</div>
        <p class="titulo secundario">Perfiles que se buscan</p>

        <div class="desarrollo">
            <div class="perfil disenador">
                <div class="titulo">
                    <div class="icon"><img src="@routes.Assets.at("images/designer.png")" /></div>
                    Diseñador web
                </div>
                <p class="resume">
                    sabes de qué hablamos cuando nombramos divs, css3, responsive design o HTML5. Te apasiona pensar en interaciones entre usuario y diseño sin cambiar de página y eres capaz de navegar entre plantillas que mezclan lógica sin problemas?
                </p>
            </div>
            <div class="perfil frontend">
                <div class="titulo">
                    <div class="icon"><img src="@routes.Assets.at("images/frontend.png")" /></div>
                    Frontender
                </div>
                <p class="resume">
                    conoces como la palma de tu mano cosas como jquery, backbone.js o coffeescript. Eres experto en UX y lo sabes todo de responsive design y guías de diseño para plataformas móviles?
                </p>
            </div>
            <div class="perfil backend">
                <div class="titulo">
                    <div class="icon"><img src="@routes.Assets.at("images/backend.png")" /></div>
                    Backender
                </div>
                <p class="resume">
                    trabajas con RoR, Play! o algún framework pHp o .NET ligero. Hacer una API REST es algo que no te supone ninguna dificultad. Desarrollas para Android o iOS?
                </p>
            </div>
        </div>
    </div>
</div>

}