@(myForm: Form[Candidate])(implicit request: RequestHeader)

@import helper._
@import views.html.helper._

@implicitField = @{ FieldConstructor(fieldTemplate.f) }

@main("apply for the APP team") {

<div id="content">
    <h1>QUIERO FORMAR PARTE!</h1>
        <p>
            Si quieres participar como un integrante de the APP team, tienes que respondernos a este sencillo formulario.
            Cuando empecemos a hacer la selección de la gente que formará los equipos nos podremos en contacto y charlamos un poco más.
        </p>

        @form(routes.Application.apply) {
            <p class="question">Tu email:</p>
            <p class="answer">
                @inputText(myForm("email"), 'size -> 50, 'maxlength -> 50)
            </p>

            <p class="question">Dinos en qué perfil encajas:</p>
            <p class="answer">Selecciona el perfil en que encajas o elige Otro... si tienes un perfil diferente pero valioso para desarrollar un proyecto</p>
            <p class="answer">
                @select(myForm("profile"), options(List("Diseñador", "Frontend", "Backend", "Otro...")))
            </p>

            <p class="question">En qué tecnologías/herramientas/... crees que eres muy bueno?</p>
            <p class="answer">Pon una lista de cosas separadas por comas, p.ej: css3, html5, play!, backbone.js</p>
            <p class="answer">@inputText(myForm("mainTechnologies"), 'size -> 80, 'maxlength -> 100)</p>

            <p class="question">De qué cosas controlas para echar una mano aunque no seas tan bueno?</p>
            <p class="answer">@inputText(myForm("otherTechnologies"), 'size -> 80, 'maxlength -> 90)</p>

            <p class="question">Tienes una URL con tu portfolio, trabajos, proyectos?</p>
            <p class="answer">Por ejemplo en behance, sortfolio, github o en una página personal</p>
            <p class="answer">@inputText(myForm("portfolio"), 'size -> 80, 'maxlength -> 190)</p>

            <p class="question">Cuenta de twitter?</p>
            <p class="answer">@inputText(myForm("twitterAccount"), 'size -> 50, 'maxlength -> 80)</p>

            <div class="botones banda">
                <input type="submit" class="boton" value="Unirme al equipo ->"/>
            </div>
        }
</div>

}