@(candidate: Candidate, team: Seq[Candidate], ideas: Seq[Idea], newIdeaForm: Form[(String, String)], addRatingForm: Form[(String)])(implicit request: RequestHeader)

@import helper._
@import views.html.helper._

@implicitField = @{ FieldConstructor(fieldTemplate.f) }

@main("your APP team") {
<div id="content" class="team-details">
    <h1>BIENVENIDO A TU EQUIPO</h1>
    <p>
        Formas parte de <span class="destaque">the APP team:</span> <span class="team-name">@candidate.team</span>.
    </p>

    <h2>Los integrantes de tu equipo:</h2>
    <p>
        <ul id="team-members">
        @team.map { mate =>
            <li>
                <div class="profile @mate.profile.replace('ñ', 'n')">@mate.profile</div>
                <div class="email">@mate.email</div>
                <div class="twitter"><b>twitter:</b> @mate.twitterAccount.getOrElse("No disponible")</div>
            </li>
        }
        </ul>
    </p>

    <h2>Las ideas propuestas:</h2>

    <p>Ya se pueden poner las ideas que queráis aquí. No está habilitada la votación para ordenarlas, pero por lo menos
        este es un punto de encuentro en el que se pueden ver y discutir por mail cual gusta más.
    </p>
    <p>Ya está activa también la votación de ideas, les podéis dar una puntuación de 0 a 5 para ayudar a ordenarlas.</p>

    <div class="ideas">
        @ideas.map { idea =>
            <div class="idea">
                <div class="rating">
                    @if(Idea.isRatedBy(idea.id.getOrElse(0), candidate.email)) {
                        <span class="number">@idea.rating</span>
                    } else {
                        Puntúa esta idea:
                        @form(routes.Teams.addRating(idea.id.getOrElse(0)), 'class -> "ideas-form") {
                            @select(addRatingForm("rating"), options(List("0", "1", "2", "3", "4", "5")))
                            <input type="submit" class="boton" value="Puntuar"/>
                        }
                    }
                </div>
                <div class="title">@idea.title</div>
                <div class="description">@Html(idea.description)</div>
            </div>
        }
    </div>


    @form(routes.Teams.addIdea, 'class -> "ideas-form") {

        @newIdeaForm.globalError.map { error =>
            <p class="error">
            @error.message
            </p>
        }

        <p class="question">Pon aquí un título para la idea (el nombre que pienses para la posible APP estaría bien):</p>
        <p class="answer">
            @inputText(newIdeaForm("title"), 'size -> 80, 'maxlength -> 80)
        </p>

        <p class="question">Descripción de la idea:</p>
        <p class="answer">Comenta en qué consiste de una forma lo más explicativa posible para que los demás se enteren de qué va</p>
        <p class="answer">
            @textarea(newIdeaForm("description"), 'id -> "description",'cols -> 90, 'rows -> 4, 'maxlength -> 4000)
        </p>

        <div class="botones banda">
            <input type="submit" class="boton" value="+ Añadir la idea"/>
        </div>
    }

    <h2>La agenda:</h2>

    <p>Esta agenda es orientativa y libre, iremos decidiendo a medida que pase el tiempo si nos ajustamos o no a ella.</p>
    <dl class="agenda">
        <dt>VIERNES, 11</dt>
        <dd>
            <ul>
                <li>a las <span class="destaque">15:00</span> - comida para conocernos todos</li>
                <li>de <span class="destaque">16:30 a 21:30</span> - currando</li>
            </ul>
        </dd>
        <dt>SÁBADO, 12</dt>
        <dd>
            <ul>
                <li>de <span class="destaque">9:00 a 14:30</span> - currando</li>
                <li>de <span class="destaque">14:30 a 16:00</span> - retrospectiva y comida</li>
                <li>de <span class="destaque">16:00 a 20:30</span> - currando</li>
            </ul>
        </dd>
        <dt>DOMINGO, 13</dt>
        <dd>
            <ul>
                <li>de <span class="destaque">9:00 a 14:30</span> - currando</li>
                <li>de <span class="destaque">14:30 a 16:00</span> - retrospectiva y comida</li>
                <li>de <span class="destaque">16:00 a 19:00</span> - currando</li>
                <li>de <span class="destaque">19:00 a 19:45</span> - retrospectiva final y conclusiones, despedida y birras</li>
            </ul>
        </dd>
    </dl>


</div>

    <script>
        $(document).ready(function() {
            $("#description").cleditor({
                width:        650, // width not including margins, borders or padding
                height:       150, // height not including margins, borders or padding
                controls:     "bold italic underline | bullets numbering"
            });
        });
    </script>
}